[user]
	name = Brendan Heywood
	email = brendan@catalyst-au.net

[color]
	diff = auto
	ui = true

[core]
	editor = vim
	autocrlf = input
	compression = 0

[alias]
    # view all commits on a ascii time line showing merges
    timeline = log --graph --decorate --oneline

    # Recursively pull all submodules
#    pull-all = ~/scripts/git-pull-all
    pull-all = !git pull --rebase --prune $@ && git submodule update --init --recursive

    # but sometimes submodules are only a hash, not a branch, this shows which ones are broken
    submodule-branches = "submodule foreach --quiet 'echo \"$(git rev-parse --abbrev-ref HEAD)    => $name\"'"

    # cheat sheet, not really a need for alias:
    #
    # maybe auto detect? status which shows tracing?
    track-master = branch --set-upstream master  origin/master


    config-global = config --global -e
    config-local = config -e


[http]
    # see http://stackoverflow.com/questions/2702731/git-fails-when-pushing-commit-to-github
	postBuffer = 524288000

[pager]
    diff = diff-highlight | less
    log  = diff-highlight | less
    show = diff-highlight | less

[push]
	default = current

[pull]
	default = current

[help]
    autocorrect = 1

