[user]
	name = Brendan Heywood
	email = brendan@catalyst-au.net

[color]
	diff = auto
	ui = true

[core]
	editor = vim
	autocrlf = input
	compression = 0

[alias]

    # Super quick and improved shorthands
    a = add
    b = branch
    c = commit
    d = diff
    l = log --name-status
    s = !git status && git log --oneline -n 2
    # s = status
    r = remote -v

    # view all commits on a ascii time line showing merges
    timeline = log --graph --decorate --oneline

    ## Failed attempt at global custom commit template:
    ## status = status && git log -n 7 --oneline

    # Recursively pull all submodules
    pull-all = !git pull --rebase --prune $@ && git submodule update --init --recursive
    pull-all-fast = "submodule foreach git pull origin master \\&"

    # Recursively push all submodules
    push-all = submodule foreach git push
    # for git 1.7.11 and later
    #push-all = push --recurse-submodules=on-demand

    # Sometimes submodules are only a hash, and not a branch, this shows which ones are broken
    submodule-branches = "submodule foreach --quiet 'echo \"$(git rev-parse --abbrev-ref HEAD)    => $name\"'"

    # This uses the new submodule branch tracking in git 1.8.2 but works in earlier too
    submodule-trackbranch = "! git submodule foreach --recursive 'branch=\"$(git config -f $toplevel/.gitmodules submodule.$name.branch)\"; git checkout $branch'"

    #   http://stackoverflow.com/questions/1777854/git-submodules-specify-a-branch-tag

    # cheat sheet, not really a need for alias:
    #
    # maybe auto detect? status which shows tracing?
    track-master = branch --set-upstream master  origin/master

    # Quickly squash the last two commits
    squash-recent = rebase -i HEAD~5

    config-global = config --global -e
    config-local = config -e

    # unadd - makes more sense to me
    unadd = reset

    # uncommit the last commit back into staging area (need to then unadd it if you want)
    uncommit = reset --soft HEAD~1

    remote-all = git-remote-all

[status]
#    submodulesummary = 1

[http]
    # see http://stackoverflow.com/questions/2702731/git-fails-when-pushing-commit-to-github
	postBuffer = 524288000

[pager]
    diff = diff-highlight | less
    log  = diff-highlight | less
    show = diff-highlight | less

[push]
	default = current

[pull]
	default = current

[help]
    autocorrect = 1

