[user]
	name = Brendan Heywood
	email = brendan@catalyst-au.net
[color]
	diff = auto
	ui = true
[core]
	editor = vim
	autocrlf = input
	compression = 0
[alias]
    timeline = log --graph --decorate --oneline
    pull-all = ~/scripts/git-pull-all

[http]
    # see http://stackoverflow.com/questions/2702731/git-fails-when-pushing-commit-to-github
	postBuffer = 524288000

[push]
	default = current
[pull]
	default = current

[help]
    autocorrect = 1

