[mysql]
pager = less -SFX --shift .1
; -S          - chop long lines so we scroll right instead of wrapping
; -F          - quit if only one screen of data
; -X          - don't init which mean don't send clear screen command
; --shift .1  - makes it scroll left and right by 10% of the screen width

